@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Eudoxus Sans", sans-serif;
    scroll-behavior: smooth;
  }
  
 
  
  .hero-gradient {
    background: linear-gradient(
      97.86deg,
      #2ff9c6 0%,
      #20b6d8 53.65%,
      #1a203e 100%
    );
  }

  
  .hero-gradientbody {
    background: linear-gradient(
      97.86deg,
      #0bd5f4 0%,
      #20b6d8 53.65%,
      #0b0f28 100%
    );
  }
  

  .glassmorphism {
    background:black ;
    box-shadow: 2px 2px 2px 0px #2ff9c6;
   
   
    border: 1px solid black;
  }
  
 
  
  
  